<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta(${title})"></div>
</th:block>

<head>

</head>

<body>
	<div layout:fragment="content">
		<!-- start page title -->
		<div th:replace="partials/page-title :: page-title(${title}, 'Drugstores')"></div>

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<form th:action="${drugstore.id} ? @{/drugstores/{drugstoreId}/edit(drugstoreId=${drugstore.id})} : @{/drugstores/create}" th:object="${drugstore}" method="post">
					<div class="card-header align-items-center d-flex">
						<h4 class="card-title mb-0 flex-grow-1" th:text="${title}"></h4>
					</div><!-- end card header -->
					<div class="card-body">
							<h5 class="fs-15 text-muted">Basic information</h5>
							<div class="row">
								<div class="col-md-6">
									<div>
										<label for="name" class="form-label required">Name</label>
										<input id="name" type="text" class="form-control" th:field="*{name}" required />
									</div>
								</div>
							</div>

							<h5 class="fs-15 mt-4 text-muted">Contact(s)</h5>
							<div class="row">
								<div class="col-md-6">
									<div>
										<label for="contact_1" class="form-label required">Contact 1</label>
										<input id="contact_1" type="text" class="form-control" th:if="${drugstore.contacts.size() > 0}" th:field="*{contacts[0]}" required/>
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<label for="contact_2" class="form-label">Contact 2</label>
										<input id="contact_2" type="text" class="form-control" th:if="${drugstore.contacts.size() > 1}" th:field="*{contacts[1]}"/>
									</div>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-md-6">
									<div>
										<label for="contact_3" class="form-label">Contact 3</label>
										<input id="contact_3" type="text" class="form-control" th:if="${drugstore.contacts.size() > 2}" th:field="*{contacts[2]}"/>
									</div>
								</div>
							</div>

							<h5 class="fs-15 mt-4 text-muted">Address</h5>
							<div class="row">
								<div class="col-md-6">
									<div>
										<label for="city" class="form-label required">City</label>
										<select id="city" class="form-control" th:field="*{city}" required>
											<option th:each="cityOption : ${T(studio.startapps.pandemona.models.City).values()}"
													th:value="${cityOption}" th:text="${cityOption}"></option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<label for="address" class="form-label required">Address</label>
										<textarea id="address" class="form-control" th:field="*{address}" required></textarea>
									</div>
								</div>
							</div>
							<div class="row mt-4">
								<div class="col-md-6">
									<div>
										<label for="latitude" class="form-label required">Latitude</label>
										<input id="latitude" class="form-control" th:field="*{latitude}" required/>
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<label for="longitude" class="form-label required">Longitude</label>
										<input id="longitude" class="form-control" th:field="*{longitude}" required/>
									</div>
								</div>
							</div>
					</div>
					<div class="card-footer">
						<div class="hstack gap-2">
							<a th:href="@{/drugstores}" class="btn btn-light">Cancel</a>
							<input type="submit" class="btn btn-success" value="Save"/>
						</div>
					</div>
					</form>
				</div>
			</div>
			<!--end col-->
		</div>
		<!--end row-->
	</div>

	<th:block layout:fragment="modal">

	</th:block>
	<th:block layout:fragment="pagejs">

		<!-- prismjs plugin -->
		<script src="/assets/libs/prismjs/prism.js"></script>

	</th:block>
</body>

</html>