<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta(${title})"></div>
</th:block>

<head>

</head>

<body>
	<div layout:fragment="content">
		<!-- start page title -->
		<div th:replace="partials/page-title :: page-title(${title}, 'On-duty drugstores')"></div>

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<form th:action="${onDutyDrugstores.id} ? @{/onduty-drugstores/{id}/edit(id=${onDutyDrugstores.id})} : @{/onduty-drugstores/create}" th:object="${onDutyDrugstores}" method="post">
						<div class="card-header align-items-center d-flex">
							<h4 class="card-title mb-0 flex-grow-1" th:text="${title}"></h4>
						</div><!-- end card header -->
						<div class="card-body">
							<h5 class="fs-15 text-muted">Basic information</h5>
							<div class="row">
								<div class="col-md-6">
									<div>
										<label for="startDate" class="form-label required">Start date</label>
										<input id="startDate" type="date" class="form-control" th:field="*{startDate}" required />
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<label for="endDate" class="form-label required">End date</label>
										<input id="endDate" type="date" class="form-control" th:field="*{endDate}" required />
									</div>
								</div>
							</div>

							<h5 class="fs-15 text-muted mt-4">Drugstores</h5>
							<div class="row">
								<div class="row-md-12">
									<label for="drugstores" class="form-label required">Drugstores</label>
									<select class="form-control" id="drugstores" name="drugstores" th:field="*{drugstores}" data-choices data-choices-removeItem multiple required>
										<option th:each="drugstore : ${drugstores}"
												th:text="${drugstore.name}"
												th:value="${{drugstore}}">
										</option>
									</select>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="hstack gap-2">
								<a th:href="@{/onduty-drugstores}" class="btn btn-light">Cancel</a>
								<input type="submit" class="btn btn-success" value="Save"/>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!--end col-->
		</div>
		<!--end row-->
	</div>

	<th:block layout:fragment="modal">

	</th:block>
	<th:block layout:fragment="pagejs">

		<!-- prismjs plugin -->
		<script src="/assets/libs/prismjs/prism.js"></script>

	</th:block>
</body>

</html>