<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="~{partials/title-meta :: title-meta('On-duty drugstores')}"></div>
</th:block>

<head>

</head>

<body>
	<div layout:fragment="content">
		<!-- start page title -->
		<div th:replace="~{partials/page-title :: page-title('On-duty drugstores','Pharmada')}"></div>

		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-header align-items-center d-flex">
						<h4 class="card-title mb-0 flex-grow-1">On-duty drugstores</h4>
						<div class="flex-shrink-0">
							<a th:href="@{/onduty-drugstores/create}" class="btn btn-soft-success">
								<i class="ri-add-line align-middle"></i> New on-duty drugstores
							</a>
						</div>
					</div>

					<div class="card-body">
						<div class="live-preview">
							<div class="table-responsive table-card">
								<table class="table align-middle table-nowrap mb-0">
									<thead>
										<tr>
											<th scope="col">Period</th>
											<th scope="col">Drugstores</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="onDutyDrugstores : ${onDutyDrugstoresList}">
											<td th:utext="'From <b>' + ${onDutyDrugstores.startDate} + '</b><br/>to <b>' + ${onDutyDrugstores.endDate} + '</b>'"></td>
											<td>
												<ul>
													<li th:each="drugstore : ${onDutyDrugstores.drugstores}" th:text="${drugstore.name}"></li>
												</ul>
											</td>
											<td>
												<button type="button" class="btn btn-light">Details</button>
												<a th:href="@{/onduty-drugstores/{id}/edit(id=${onDutyDrugstores.id})}" class="btn btn-primary"><i class="ri-pencil-fill align-middle"></i> Edit</a>
												<form th:action="@{/onduty-drugstores/{id}(id=${onDutyDrugstores.id})}" th:method="delete">
													<button type="submit" class="btn btn-danger"><i class="ri-delete-bin-line align-middle"></i> Delete</button>
												</form>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start">
								<div class="col-sm">
									<div class="text-muted">
										Showing <span class="fw-semibold" th:text="${onDutyDrugstoresList.size}"></span> of <span
											class="fw-semibold" th:text="${onDutyDrugstoresList.totalElements}"></span> results
									</div>
								</div>
								<div class="col-sm-auto mt-3 mt-sm-0">
									<ul class="pagination pagination-separated pagination-sm mb-0 justify-content-center">
										<li class="page-item" th:if="${onDutyDrugstoresList.hasPrevious()}">
											<a th:href="@{/onduty-drugstores(page=${onDutyDrugstoresList.pageable.pageNumber - 1})}" class="page-link">←</a>
										</li>
										<li class="page-item" th:if="${onDutyDrugstoresList.hasPrevious()}">
											<a th:href="@{/onduty-drugstores(page=${onDutyDrugstoresList.pageable.pageNumber - 1})}" class="page-link" th:text="${onDutyDrugstoresList.pageable.pageNumber}"></a>
										</li>
										<li class="page-item active">
											<a href="#" class="page-link" th:text="${onDutyDrugstoresList.pageable.pageNumber + 1}"></a>
										</li>
										<li class="page-item" th:if="${onDutyDrugstoresList.hasNext()}">
											<a th:href="@{/onduty-drugstores(page=${onDutyDrugstoresList.pageable.pageNumber + 1})}" class="page-link" th:text="${onDutyDrugstoresList.pageable.pageNumber + 2}"></a>
										</li>
										<li class="page-item" th:if="${onDutyDrugstoresList.hasNext()}">
											<a th:href="@{/onduty-drugstores(page=${onDutyDrugstoresList.pageable.pageNumber + 1})}" class="page-link">→</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end card-body -->
			</div><!-- end card -->
		</div>
		<!-- end row -->
	</div>

	<th:block layout:fragment="modal">

	</th:block>
	<th:block layout:fragment="pagejs">
		<!-- prismjs plugin -->
		<script src="/assets/libs/prismjs/prism.js"></script>
	</th:block>
</body>

</html>